.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.6);
  z-index: 1000;
}

.modal-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #fffbe6, #ffe8cc);
  border: 4px solid #d9480f;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  animation: pop-in 0.3s ease-out;
  min-width: 300px;
}

@keyframes pop-in {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 26px;
  font-weight: bold;
  color: #b02a37;
  text-transform: uppercase;
  border-bottom: 2px solid #d9480f;
  margin-bottom: 1rem;

  &>span {
    flex-grow: 1;
    text-align: center;
  }
}

.modal-body {
  padding: 1rem;
  text-align: center;
}

/* .fighter-preview___img {
  max-width: 100%;
  height: auto;
  border: 3px solid #b02a37;
  border-radius: 8px;
  background-color: #fff;
} */

.close-btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}